Let's start off by importing pandas so we can read the dataset into a dataframe

In [1]:
import pandas as pd

We are going to be utilising 2 datasets

1. [Football player stats (Premier League '21-'22)](https://www.kaggle.com/datasets/omkargowda/football-players-stats-premier-league-20212022/)
2. [Football Data from Transfermarkt - player_valuation](https://www.kaggle.com/datasets/davidcariboo/player-scores?select=player_valuations.csv)

In [12]:
datasets_fp = 'datasets/'
encoding = 'unicode_escape'
stats_df = pd.read_csv(datasets_fp+'player_stats.csv', encoding=encoding)
valuations_df = pd.read_csv(datasets_fp+'player_valuations.csv', encoding=encoding)

Let's have a quick look at both dataframes

In [13]:
stats_df.head()

,Player,Team,Nation,Pos,Age,MP,Starts,Min,90s,Gls,...,G+A-PK,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1
0,Bukayo Saka,Arsenal,eng ENG,"FW,MF",19.0,38,36,"2,978",33.1,11.0,...,0.48,9.7,8.2,6.9,15.2,0.29,0.21,0.50,0.25,0.46
1,Gabriel Dos Santos,Arsenal,br BRA,DF,23.0,35,35,"3,063",34.0,5.0,...,0.15,2.7,2.7,0.8,3.5,0.08,0.02,0.10,0.08,0.10
2,Aaron Ramsdale,Arsenal,eng ENG,GK,23.0,34,34,"3,060",34.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00
3,Ben White,Arsenal,eng ENG,DF,23.0,32,32,"2,880",32.0,0.0,...,0.00,1.0,1.0,0.6,1.6,0.03,0.02,0.05,0.03,0.05
4,Martin Ødegaard,Arsenal,no NOR,MF,22.0,36,32,"2,785",30.9,7.0,...,0.36,4.8,4.8,6.8,11.6,0.16,0.22,0.38,0.16,0.38

In [14]:
valuations_df.head()

,player_id,last_season,datetime,date,dateweek,market_value_in_eur,n,current_club_id,player_club_domestic_competition_id
0,3132,2013,2003-12-09 00:00:00,2003-12-09,2003-12-08,400000,1,126,TR1
1,6893,2012,2003-12-15 00:00:00,2003-12-15,2003-12-15,900000,1,984,GB1
2,10,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,7000000,1,398,IT1
3,26,2017,2004-10-04 00:00:00,2004-10-04,2004-10-04,1500000,1,16,L1
4,65,2015,2004-10-04 00:00:00,2004-10-04,2004-10-04,8000000,1,1091,GR1

Let's do a quick analysis of the data using .describe() method

In [15]:
stats_df.describe()

,Age,MP,Starts,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,...,G+A-PK,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1
count,687.000000,691.000000,691.000000,547.000000,547.000000,547.000000,547.000000,547.000000,547.000000,547.000000,...,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000
mean,24.490539,15.173661,12.098408,15.255941,1.895795,1.361974,1.742230,0.153565,0.188300,2.451554,...,0.203443,1.928755,1.784982,1.300916,3.088828,0.137216,0.092619,0.230037,0.130147,0.222967
std,4.900421,12.954948,12.057790,11.260210,3.255050,2.037348,2.934154,0.675447,0.786336,2.563289,...,0.535085,2.982733,2.673862,1.711252,4.055039,0.259142,0.295461,0.405768,0.254656,0.402157
min,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.000000,1.000000,0.000000,4.350000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.100000,0.100000,0.100000,0.300000,0.020000,0.010000,0.050000,0.012500,0.050000
50%,24.000000,14.000000,9.000000,14.700000,1.000000,1.000000,1.000000,0.000000,0.000000,2.000000,...,0.100000,0.800000,0.750000,0.650000,1.600000,0.060000,0.060000,0.130000,0.060000,0.130000
75%,28.000000,28.000000,22.000000,23.900000,2.000000,2.000000,2.000000,0.000000,0.000000,4.000000,...,0.280000,2.500000,2.400000,1.900000,4.300000,0.170000,0.120000,0.330000,0.160000,0.310000
max,39.000000,38.000000,38.000000,38.000000,23.000000,13.000000,23.000000,6.000000,7.000000,11.000000,...,11.250000,21.800000,17.100000,11.200000,27.400000,4.480000,6.500000,6.500000,4.480000,6.500000

In [16]:
valuations_df.describe()

,player_id,last_season,market_value_in_eur,n,current_club_id
count,4.406630e+05,440663.000000,4.406630e+05,440663.0,440663.000000
mean,1.964113e+05,2018.762887,2.357557e+06,1.0,4041.891491
std,1.793622e+05,3.624305,6.603356e+06,0.0,9508.375247
min,1.000000e+01,2012.000000,1.000000e+04,1.0,3.000000
25%,5.532200e+04,2016.000000,2.000000e+05,1.0,368.000000
50%,1.407480e+05,2019.000000,5.000000e+05,1.0,1010.000000
75%,2.896450e+05,2022.000000,1.600000e+06,1.0,2944.000000
max,1.166093e+06,2023.000000,2.000000e+08,1.0,83678.000000